p, ul {
    font-size: 18px;
    line-height: 1.6rem;
}

img {
    display: block;
    max-width: 600px;
    width: 100%;
    margin: 0 auto 10px auto;
}

ul {
    list-style: inside;
    margin-left: 20px;
    margin-bottom: 0.67em;
}

.image {
    margin: 30px 0;
}

.citation {
    text-align: center;
    color: grey;
}

.tab-group {
    width: 100%;
    min-height: 50px;
    background-color: whitesmoke;
}

.tab {
    display: none;
    padding: 20px;
}

.tab,.tab p {
    font-size: 16px;
    line-height: 1.6rem;
}

.tab-button {
    padding: 10px 20px;
}

.tab-button:hover {
    cursor: pointer;
    background-color: gainsboro;
}

.tab-selected {
    border-bottom: 2px solid black;
}

.tab-buttons {
    display: flex;
}

.tab-content {
}

.tab-group code {
    background-color: lightgrey;
}

.file-download {
    padding: 10px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
}

.file-download:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.module-completion {

}

.module-complete {
    position: sticky;
    text-align: center;
    padding: 10px;
    top: 0;
    background-color: #32d373;
}
