{% extends "base.html" %}



{% block style %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="/static/css/skill-tree.css">


{% endblock %}



{% block content %}

<h1>Modules</h1>

<div class="modules">
{% for row in config.row %}
    <div class="module-row">
    <!--<span class="module-header">{{ row.name }}</span>-->
    {% for module in config.module | selectattr("row", "equalto", row.id) %}
        <div class="module">
        {% if module.id in unlocked %} 
            <a class="module-icon-link" href="/module/{{ module.url }}">
                <div class="module-icon-frame" title="{{ module.name }}">
                    <i class="bi-{{ module.icon }} module-icon"></i>
                </div>
            </a>
        {% else %}
            <div class="module-icon-frame-locked" title="Locked">
                <i class="bi-shield-lock-fill module-icon-locked"></i>
            </div> 
        {% endif %}
        </div>

    {% endfor %}
    </div>
{% endfor %}
</div>
<script src="/static/js/module.js"></script>

{% endblock %}
