{% extends "base-module.html" %}
{% block module %}

# Getting Started

Welcome to **MakeOpenSource Modules!** These brief lessons are here to help you learn or refresh
concepts that are key to getting started with open-source development.


## Open Source

"Open source" is a blanket term for things that are openly available to **use, modify, and 
distribute**. The term FOSS (free and open source software) has been adopted to describe code 
that is open-source, but it is **not** the only thing that can be open-source.

For example, the font this paragraph is written in is called **Fira Sans**, and is completely
open source under the `SIL Open Font License`. We will cover more on licensing in later modules.

Open-source software is instrumental in many fields of software development. Much of it powers
the computer you are using now! 

<div class="image">
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/9f/Arpanet_1972_Map.png" />
    <div class="caption">The map of ARPANET in March 1972 by UCLA and BBN</div>
</div>

Arpanet, shown above, paved the way for the modern day internet, and allowed developers
to more easily share code.

## Using Modules

**Modules will always be freely available and open-source!** While we do recommend completing
Modules *before* working on our projects, feel free to come back to any modules once you've 
completed them as a refresher.

If you have any feedback on our modules, feel free to reach out to us at our email: 
`opensrc@buffalo.edu`.

{% endblock %}
