{% extends "base-module.html" %}
{% block module %}

# Version Control

When writing code, developers want to be able to save their work.
More specifically, we want to be able to track the *state* of our code 
over time. That way, **when** we break things, we can easily
revert them.

A **version control system** (vcs) is a generic term for a program used to keep track of 
different **versions** of our code. There have been many different version
control programs over the years, here are a few!

* RCS – 1982
* CVS – 1986
* BitKeeper – 2000
* Git - 2005
* Mercurial – 2005

Of these five, **Git** is by far the most popular choice for developers today.
We will delve into git in another module.

## VCS In Open Source

Under open-source development, software is shared between many people. Often,
we want to combine code from many people into one project, or easily patch on
additions. Open source developers leverage **version control systems** to both 
share, and collaborate on code.

{% endblock %}
